.wave {
  position: absolute;

  width: 6400px;
  height: 198px;
  top: 0px;
  animation: wave 7s cubic-bezier(0.36, 0.15, 0.63, 0.3) infinite;
  transform: translate3d(0, 0, 0);
}

.wave1 {
  background: url("D:\Web-Development\Front-End\React JS\threads-media\client\src\resources\wave-3.svg")
    repeat-x;
}
.wave2 {
  background: url("D:\Web-Development\Front-End\React JS\threads-media\client\src\resources\wave-2.svg")
    repeat-x;
}
.wave3 {
  background: url("D:\Web-Development\Front-End\React JS\threads-media\client\src\resources\wave-1.svg")
    repeat-x;
}

.wave:nth-of-type(2) {
  top: 0px;
  opacity: 10%;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.23, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}
.wave:nth-of-type(3) {
  top: 0px;
  animation: wave 7s cubic-bezier(0.66, 0.25, 0.23, 0.53) -0.125s infinite,
    swell 5s ease -1.25s infinite;
  opacity: 1;
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  background: #015871;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
