@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.main-tool {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 40dvh;
  align-items: center;
  row-gap: 50px;
  background-color: #e51a2d;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  box-shadow: 0 1rem 1.5rem -0.75rem rgb(37 46 105 / 30%);
}

header {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #e51a2d;
  top: 0;
  text-align: center;
  z-index: 10;
}

header > a {
  width: 60dvw;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: flex-end;
  color: white;
  letter-spacing: 2px;
}
header > a:link {
  justify-content: center;
  text-decoration: none;
}

header > nav {
  width: 30dvw;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
}
header > nav > ul > li {
  list-style: none;
}
header > nav > ul > li > a {
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
}
header > nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  column-gap: 80px;
}
header > nav > ul > li > a:link {
  text-decoration: none;
}

header div button {
  border-radius: 8px;
  border-style: none;
  background-color: #1ae5d2;
  width: 80px;
  height: 40px;
  color: white;
  letter-spacing: 2px;
  font-weight: 800;
}

header div button:hover {
  cursor: pointer;
  background-color: #14aa9b;
}

.title-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.title-container .text-container {
  display: flex;
  text-align: center;
  align-items: flex-end;
  opacity: 0;
  animation: slide-up ease-in 0.4s forwards;
}

@keyframes slide-up {
  0% {
    transform: translate(0, 150%);
  }
  100% {
    transform: translate(0, 50%);
    opacity: 1;
  }
}

.title-container h1 {
  margin: 0;
  color: white;
  font-size: 50px;
}

.image-container {
  overflow: hidden;
  opacity: 1;
  animation: zoom-in ease-in 0.4s forwards;
  position: relative; /* Add this line to ensure z-index works */
  transform-origin: center;
}

.main-tool img {
  margin-top: 80px;
  width: 110px;
  transform-origin: center;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
    transform: translate(0, 10%);
  }
  /* 100% {
    transform: translate(-300%, 0);
  } */
}

.main-tool form {
  margin-bottom: 50px;
}

.main-tool form .input-wrapper {
  border-radius: 10px;
  width: 550px;
  padding: 10px;
  height: 50 px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
  flex-grow: 1;
  margin-bottom: 40px;
  backdrop-filter: blur(5px);
  box-shadow: 0 1rem 1.5rem -0.75rem rgb(37 46 105 / 30%);
}
.main-tool form .input-wrapper .paste-btn {
  background-color: rgb(219, 219, 219);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 50px;
  height: 50px;
}

.main-tool form .input-wrapper .paste-btn:hover {
  cursor: pointer;
  background-color: rgb(143, 143, 143);
}

.main-tool form .input-wrapper input {
  outline: none;
  border-style: none;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
  flex-grow: 1;
  width: 75%;
  background: none;
}
.main-tool form button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  border-style: none;
  width: 60px;
  height: 50px;
  font-size: 20px;
  background-color: #e51a2d;
}

.main-tool form button:hover {
  cursor: pointer;
  background-color: #ad1625;
}
.media-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  align-items: center;
  row-gap: 30px;
  margin-top: 30px;
  flex-grow: 1;
}
.container {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  box-shadow: 0 1rem 1.5rem -0.75rem rgb(37 46 105 / 30%);

  border-width: 2px;
  border-style: none;
  padding: 10px;
  height: auto;
  margin-top: 20px;
  width: auto;
  flex-wrap: wrap;
}

.container .post-info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  max-width: 500px;
  flex-basis: 0;
  flex-grow: 1;
}

.container .post-info .username > h3,
.container .post-info .other-info > p {
  margin: 0;
}
.container .post-info .other-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.info-container > img {
  height: 100px;
  width: 64px;
  border-radius: 8px;
  margin-right: 25px;
}

.info-container > video {
  height: 100px;
  border-radius: 8px;
  margin-right: 25px;
}

.download-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.download-btn {
  width: 150px;
  border-radius: 8px;
  border-style: none;
  height: 28px;
  background-color: #1ae5d2;
}

.download-btn:hover {
  cursor: pointer;
  background-color: #14aa9b;
}

footer {
  width: 100%;
  height: 20dvh;
  background-color: #e51a2d;
  position: relative;
  bottom: 0;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  box-shadow: 0 1rem 1.5rem -0.75rem rgb(37 46 105 / 30%);
  margin-top: 20px;
  color: white;
}
footer .footer-container ul {
  list-style: none;
}

footer .footer-container ul li:hover {
  cursor: pointer;
}

footer .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

footer .footer-container .footer-logo {
  text-align: center;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer .footer-container h1 {
  margin: 0;
}
footer .footer-container .other-contents {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  text-align: center;
}

footer .footer-container .other-contents ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  column-gap: 50px;
}

.form-btns {
  display: flex;
}
@media screen and (max-width: 875px) {
  .title-container h1 {
    font-size: 32px;
  }

  .main-tool img {
    margin-top: 80px;
    width: 70px;
  }

  .main-tool form .input-wrapper {
    max-width: 450px;
    flex-direction: column;
  }

  .form-btns {
    display: flex;
    justify-content: flex-end;
  }
  footer {
    height: 25dvh;
  }
}

@media screen and (max-width: 501px) {
  .main-tool form .input-wrapper {
    max-width: 350px;
  }
  footer .footer-container {
    flex-direction: column;
  }
  footer .footer-container h1 {
    font-size: 25px;
  }
  footer .footer-container .other-contents ul {
    font-size: 13px;
    column-gap: 13px;
  }
}

@media screen and (max-width: 377px) {
  .main-tool form .input-wrapper {
    max-width: 250px;
  }
  .main-tool form .input-wrapper input {
    width: 250px;
  }
}

button[disabled],
a[disabled] {
  pointer-events: none;
}

.go-btn[disabled] {
  background-color: #ad1625;
}

.pp-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.terms-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100dvh;
}
footer .other-contents nav a {
  color: white;
}

footer .other-contents nav a:hover {
  color: #1ae5d2;
}

footer .other-contents nav a:link {
  text-decoration: none;
  color: inherit;
}
/* Accordion */
.page-title {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 25px;
  align-items: end;
  height: 30dvh;
  color: black;
}
.faq-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60dvh;
}

.accordion {
  max-width: 700px;
  margin: 40px auto 60px auto;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column;
  gap: 24px;
}

.faq-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}
.item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 0 24px;
  padding-right: 48px;
  cursor: pointer;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  column-gap: 24px;
  row-gap: 32px;
  max-width: 700px;
  align-items: center;
}

.number {
  font-size: 24px;
  font-weight: 500;
  color: #ced4da;
}

.title,
.icon {
  font-size: 24px;
  font-weight: 500;
}

.content-box {
  grid-column: 2 / -1;
  padding-bottom: 16px;
  line-height: 1.6;
  max-width: 700px;
}

.content-box ul {
  color: #868e96;
  margin-left: 16px;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* OPEN STATE */
.open {
  border-top: 4px solid #087f5b;
}

.open .number,
.open .title {
  color: #087f5b;
}

/* Burger Menu Navbar */
.burger-menu {
  display: none;
  cursor: pointer;
  padding: 10px;
  border: none;
}

.burger-icon {
  margin-right: 30px;
}

.menu.open {
  border: none;
}

.menu {
  list-style: none;
  display: flex;
  gap: 24px;
}

/* Hide the menu initially */
.menu {
  display: flex;
}

/* Show the menu on smaller screens */
@media (max-width: 1100px) {
  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .burger-menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  /* Show the menu when burger menu is clicked */
  .menu.open {
    display: flex;
    border-top: solid;
    border-bottom: solid;
    position: fixed;
    border-color: #ad1625;
    background-color: rgba(
      168,
      12,
      12,
      0.5
    ); /* Adjust the alpha value to control the transparency */
    backdrop-filter: blur(10px);
    width: 250px;
    right: 0;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    top: 0;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
/* @media (max-width: 972px) {
  .menu.open {
    top: 100px;
  }
}

@media (max-width: 524px) {
  .menu.open {
    top: 120px;
  }
} */

.home-faq {
  text-align: center;
}

.home-faq h2 {
  color: #868e96;
  opacity: 0.4;
  letter-spacing: 1px;
}

@media (max-width: 641px) {
  .title,
  .number,
  .icon {
    font-size: 18px;
  }
}
